.menu{
    background-color: navy;
display: block;
}
.menu nav{

}
.menu nav ul{

}

.menu nav ul li{
float: left;
list-style-type: none;
width: 200px;
height: 60px;
}

.menu nav ul li a{

}

.menu nav ul li a:hover{

}